#iconos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}
#iconos .card {
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}
#iconos span {
    font-size: 2rem;
}

#iconos2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
#iconos2 .card {
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}
#iconos2 span {
    font-size: 2rem;
}